# --- Flutter & Dart ---
.dart_tool/
.packages
build/
.pub/
.flutter-plugins
.flutter-plugins-dependencies

# --- Android ---
android/local.properties
android/.gradle/
android/app/build/
android/*.iml
android/app/*.iml
# Klucze do podpisywania aplikacji (NIGDY ich nie commituj)
android/key.jks
android/keystore.jks
android/key.properties

# --- iOS ---
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*
# Jeśli używasz CocoaPods:
ios/Pods/
ios/Podfile.lock

# --- Web ---
web/build/
lib/generated_plugin_registrant.dart

# --- MacOS ---
macos/Flutter/ephemeral/
.DS_Store

# --- Windows & Linux ---
linux/flutter/ephemeral/
windows/flutter/ephemeral/

# --- IDE & Edytory (VS Code, IntelliJ, Android Studio) ---
.idea/
.vscode/
*.iml
*.ipr
*.iws

# --- Inne ---
doc/api/
coverage/
test/coverage/