services:
  mosquitto:
    build: ./mosquitto
    container_name: smart-pot-mosquitto
    restart: unless-stopped
    ports:
      - "1883:1883"
    environment:
      MQTT_HOST: "localhost"
      MQTT_PORT: "1883"
      AGENT_LOGIN: "mqtt-agent"
      AGENT_PASSWORD: "mqtt-agent-password"
      ACL_PATH: "/mosquitto/config/acl"
      PASSWD_PATH: "/mosquitto/config/dev_passwd"
      CONTROL_TOPIC: "users/add"
    volumes:
      - ./mosquitto/config:/mosquitto/config
      - ./mosquitto/data:/mosquitto/data
      - ./mosquitto/log:/mosquitto/log

  postgres:
    image: postgres:15
    container_name: smart-pot-postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: smartpot
      POSTGRES_PASSWORD: smartpotpass
      POSTGRES_DB: smartpot
    ports:
      - "5432:5432"
    volumes:
      - ./postgres/data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U smartpot"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 5s

  app:
    build:
      context: ..
      dockerfile: infra/backend/Dockerfile
    ports:
      - "8000:8000"
    depends_on:
      postgres:
        condition: service_healthy
      mosquitto:
        condition: service_started
    environment:
      DB_HOST: postgres
      DB_NAME: smartpot
      DB_USER: smartpot
      DB_PASSWORD: smartpotpass
      SECRET_KEY: smartpotsecretkey
